### SBT ###

dist/*
target/
lib_managed/
src_managed/
project/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

### IntelliJ IDEA ###
*.iml
*.ipr
*.iws
.idea/
out

